<!doctype html>
<html lang="en">

<head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Styles -->
    <% include partials/head.html %>
</head>

<body>
    
  <% include partials/navigation.html %>

    <!-- HEADER -->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <img class="animated bounceIn" src="/Img/pews-logo.png" alt="Pews Logo">
              </div>
            </div>
          </div>

          <!-- SECTION ONE -->

          <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
               <div class="col-sm-6">
                 <i class="fab fa-youtube fa-10x"></i>
               </div>
               <div class="col-sm-4 ">
                 <h3>The most suscribed Youtuber</h3>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed inventore quasi laboriosam voluptatem ducimus. Molestias dolorem ipsam odio, vero architecto harum quos quisquam labore delectus necessitatibus voluptatem in ab.</p>
               </div>
            </div>
          </div>

           <!-- FOOTER -->
          <% include partials/footer.html %>
</body>

</html>